*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @include fluid(font-size, (
    $mobile: 10px,
    $tablet: 16px,
    $desktop-fhd: 20px
  ));
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  @include roboto('r');
  min-width: $mobile;
  font-size: 1rem;
  line-height: 1.5;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include montserrat('b');
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

h6 {
  font-size: 0.67rem;
}

a {
  text-decoration: none;
}
